<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controller.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProdutoController</servlet-name>
        <servlet-class>controller.ManterProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <servlet-class>controller.PesquisaProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetuarPedidoController</servlet-name>
        <servlet-class>controller.EfetuarPedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPedidosController</servlet-name>
        <servlet-class>controller.GerenciarPedidosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProdutoController</servlet-name>
        <url-pattern>/ManterProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <url-pattern>/PesquisaProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetuarPedidoController</servlet-name>
        <url-pattern>/EfetuarPedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPedidosController</servlet-name>
        <url-pattern>/GerenciarPedidosController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
